.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

#graph {
    border: 2px solid aqua;
    width: auto;
    height: 600px;
    margin: 10px;
}

#controls {
    color: white;
    background: #14151f;
    display: table-column;
    text-align: center;
    border: 2px solid aqua;
    height: 560px;
    width: 30%;
    margin: 10px;
    padding: 20px;
}

#cases {
    color: aqua;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButton {
    border-radius: 10px;
    background: darkgreen;
    color: white;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
}

#resetButton {
    border-radius: 10px;
    background: red;
    color: white;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
}

.inputSlider {
    accent-color: aqua;
}

.scenarioButton {
    color: black;
    padding: 5px;
    margin: 5px;
    border: 2px solid aqua;
    border-radius: 10px;
}

.hide {
    display: none;
}

.slider:hover + .hide {
    display: block;
}

#results {
    padding: 20px;
}

table {
    margin: auto;
    width: 300px;
    align-self: center;
}

td {
    border: 2px solid aqua;
}

body {
    background: #14151f;
}

